# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/

# Logs
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
pytest_cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# Pycharm / VSCode
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
*.sqlite3
*.db

# Uvicorn reload artifacts
*.pid
